.square-container {
  width: 100px;
  height: 100px;
  perspective: 1000px;
  margin: 8px;
}

.square-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
  cursor: pointer;
}

.square-inner.is-flipped {
  transform: rotateY(180deg);
}

.square-front, .square-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-front {
  background-color: var(--board-bg);
  border: 2px solid var(--square-border);
}

.square-back {
  background-color: var(--board-bg);
  border: 2px solid var(--primary-color);
  transform: rotateY(180deg);
}

.text-x, .text-o {
  font-size: 3rem;
  font-weight: 900;
  color: var(--text-color);
}


.dark .text-x {
  color: var(--primary-color);
}

.dark .text-o {
  color: #3b82f6; 
}

@media (max-width: 500px) {
  .square-container {
    width: 80px;
    height: 80px;
  }
}